body {
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/78/9d/10/789d108ae0ba9a93266170031c109189.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: 'Gruppo'; /* Kogu lehel sama font */
    font-size: 22px;
}

h1 {
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin-bottom: 0.2em;
}

form {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

button {
    margin-bottom: auto;
}

table, /* et nii grid OFF kui ON puhul oleks mängulaual ääred */
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: #7f63b0;
}

div {
    margin-bottom: 5px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: absolute;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;

  pointer-events: all;
}
