body {
  text-align: center;
  background-image: url("https://i.stack.imgur.com/ujYQK.png");
  background-repeat: absolute;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

h1 {
	font-family: 'Gruppo';font-size: 22px;
    font-size: 70px;
    margin: 0.2em;
}

form{
height: auto;
margin-left: auto;
  margin-right: auto;
  width: auto;
}

button {
    margin-bottom: auto;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: #0d0096;
}
