body {
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/78/9d/10/789d108ae0ba9a93266170031c109189.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: 'Gruppo'; /* Kogu lehel sama font */
    font-size: 20px;
}

h1 {
    font-size: 67px;
    margin: 0px;
}

h2 {
    font-size: 28px;
    margin: 0.3em;
}

table {
    border: 1px solid black; /* et nii grid OFF kui ON puhul oleks mängulaual ääred */
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: #7f63b0;
}

button,
input {
    vertical-align: middle;
    margin-top: 0.4em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

button.info {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    font-size: 30px;
}

span.info {
    height: 30px;
    width: 30px;
}

div.simBtns {
    margin-bottom: 0.3em;
}

.material-icons,
.material-icons-outlined {
    font-size: 1.3em;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
